.typorepo-container {
    display: flex;
}

.modtype_typorepo.label_mode,
.modtype_typorepo.label_mode .mod-indent-outer,
.modtype_typorepo.label_mode .contentwithoutlink {
    display: block !important;
}

.path-course-view .modtype_typorepo.label_mode>div {
    padding: 0 25px 0 0;
}